include benchmark.sh
include AUTHORS
include COPYING
include ChangeLog
include INSTALL
include MANIFEST.in
include README.rst
include TODO
include tox.ini
include .travis.yml
include runtests.py
include hachoir-metadata-csv
include run_testcase.py

include doc/*.rst doc/conf.py doc/make.bat doc/Makefile

include tests/*.py tests/*.rst tests/files/*
