include AUTHORS
include COPYING
include ChangeLog
include INSTALL
include MANIFEST.in
include README
include README.header
include README.py
include doc/*.css
include doc/*.dia
include doc/*.rst
include doc/*.xmi
include doc/adding_fields.graphviz
include gnome/README
include gnome/hachoir
include hachoir_metadata/qt/dialog.ui
include kde/README
include kde/hachoir-metadata-kde
include kde/hachoir.desktop
include metadata_csv.py
include metadata_csv.py
include run_testcase.py
include tests/test_doc.py
include tests/download_testcase.py
include tests/run_testcase.py
include tests/run_testcase_metadata.py
